---
import { getCollection } from "astro:content";
import DocsLayout from "../../layouts/DocsLayout.astro";
import nav from "../../content/docs/_nav.json";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc) => ({ params: { slug: doc.slug } }));
}

const { slug } = Astro.params;
const docs = await getCollection("docs");
const page = docs.find((d) => d.slug === slug);

if (!page) {
  throw new Error("Doc not found");
}
---
<DocsLayout nav={nav} title={page.data.title}>
  <article>
    <h1>{page.data.title}</h1>
    <div class="markdown">{page.render()}</div>
  </article>
</DocsLayout>
